# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
build/

# Dependencies
package-lock.json
yarn.lock

# Editor/IDE
.vscode/
.idea/
.DS_Store

# Environment files
.env
.env.*

# Cache & misc
.DS_Store
.vscode/
.idea/
.cache/
*.cache
coverage/

# Outros
public/static/
